<tr>
   <td><%= petition.petitioner %></td>
   <td><%= petition.petition_text %></td>
   <td><%= petition.tweet_text %></td>
   <td><%= petition.phone_script %></td>
   <td><%= link_to('Tweetstorm!', petition) %></td>
</tr>
