<%= form_tag(welcome_index_path, method: :get, class: 'navbar-form', id: 'search-form') do %>
   <%= label_tag(:search_by_zip) %>
   <%= text_field(:search, :zip) %>
<% end %>

<% if @legislators %>
   <table>
      <tr>
         <th>Chamber</th>
         <th>Name</th>
         <th>Phone</th>
         <th>Skype</th>
         <th>Tweet</th>
         <th>Email</th>
         <th>Contact Form</th>
      </tr>
      <% @legislators.each do |l| %>
         <tr>
            <td><%= "#{l['chamber']}" %></td>
            <td><%= "#{l['first_name']} #{l['last_name']}" %></td>
            <td><%= link_to("#{l['phone']}", "tel:#{l['phone']}") %></td>
            <td><%= link_to('auto skype', l['skype_link']) %></td>
            <% if l['twitter_id'] %>
               <td><%= link_to('tweet your support', "http://twitter.com/home/?status=I support Karls Law @#{l['twitter_id']}")%></td>
            <% else %>
               <td></td>
            <% end %>
            <td><%= link_to('email', "mailto:#{l['oc_email']}?subject=Karl's Law&body=I wanted to voice my support for Karl's law") %></td>
            <td><%= link_to('contactform', l['contact_form']) %></td>
         </tr>
      <% end %>
   </table>
<% end %>
